{% extends 'main/base.html' %}
{% block title %}
    Start
{% endblock %}

{% block styles %}
    input[type=email] {
        width: 100%;
        max-width:300px;
    }
{% endblock %}

{% block content %}
    <h2>Abfrage der Anmeldungen</h2>
    <p>Gib Deine E-Mail-Adresse ein, um deine Registrierungen abzufragen</p>
    <form method="post" action="/edit-subscriptions/">
        {% csrf_token %}
        {{ form_subscriptions.as_p }}
        <button type="submit" name="find" class="btn btn-info">Abfrage</button>
    </form>

    <p style="margin-top: 30px">{{ info }}</p>


    {% for entry in entries %}
        <form method="post" action="/edit-subscriptions/">
            {% csrf_token %}
            <p>
                <input type="hidden" name="subscription_id" value="{{ entry.id }}">
                <input type="hidden" name="subscriber" value="{{ subscriber }}">
                <input type="hidden" name="school" value="{{ entry }}">
                <button type="submit" name="delete_subscription" value="delete" class="btn btn-danger btn-sm">X</button>
                <strong>{{ entry }} - {{ entry.grade }}</strong>
            </p>
        </form>
    {% endfor %}



    {% comment %}
    {% for item in schools.grade_set.all %}
            <p>{{ item.name }}</p>
    {% endfor %}
    {% endcomment %}
{% endblock %}