{% extends 'main/base.html' %}

{% block html_head %}
    {% load webpush_notifications %}
    {% webpush_header %}
{% endblock %}

{% block title %}
    Start
{% endblock %}

{% block styles %}
    .control-group {
    margin: 10px 0 10px 0;
    }
    .help-inline {
    color: grey;
    font-size: 12px;
    }
{% endblock %}

{% block content %}
    <h2>Registrierung</h2>

    {% if done_register %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
        {% endfor %}
        <p>&nbsp;</p>
    {% endif %}

    <h3>Schule auswählen</h3>
    <form method="post" action="/">
    {% csrf_token %}
    {% comment %}
    {{ form_subscribe.as_p }}
    {% endcomment %}

    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form_subscribe %}
            {% if field.errors %}
                <div class="control-group error">
                    {% if field.label %}
                        <label class="control-label">{{ field.label }}</label>
                    {% endif %}
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    {% if field.label %}
                        <label class="control-label">{{ field.label }}</label>
                    {% endif %}
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="control-group">
        <button id="register_submit" type="submit" name="subscribe" class="btn btn-info">
            Registrieren
        </button>
        <div class="invisible">
            {% webpush_button with_class="btn btn-outline-info" %}
        </div>

    </div>
</form>

{% endblock %}

{% block javascript %}
    <script>

        var register_push = false;

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        function registerFormChange() {
            let schoolID = document.querySelector('#id_school').value;
            // set data for push message register
            pushBtn = document.querySelector('#webpush-subscribe-button')
            if (pushBtn) {
                pushBtn.dataset.group = schoolID || 'none';
            }
            postData('/fetch-grades/', {school_id: schoolID})
                .then(data => {

                    let select = document.getElementById("id_grade")
                    let gradeContainer = document.createElement("div");
                    let hasOptions = false
                    register_push = false;

                    if (select) {
                        hasOptions = true
                        select.required = false;
                        select.classList.add('d-none')
                    }

                    if (data.grades && data.grades.length > 0) {

                        register_push = true;

                        if (!select) {
                            select = document.createElement("select");
                            select.name = 'grade'
                            gradeContainer.classList.add('control-group');
                            gradeContainer.appendChild(select);
                            document.getElementById('id_school').closest('.control-group').append(gradeContainer)
                        }

                        select.id = "id_grade";
                        select.required = true;

                        if (!hasOptions) {
                            for (let i = 0; i < data.grades.length; i++) {
                                let opt = data.grades[i];
                                let el = document.createElement("option");
                                el.textContent = opt;
                                el.value = opt;
                                select.appendChild(el);
                            }
                        }

                        select.classList.remove('d-none')
                    }

                });
        }

        document.querySelector('#id_school').addEventListener('change', registerFormChange);
        document.querySelector('#register_submit').addEventListener('click', function () {
            // trigger push notification subscription
            if (register_push) {
                //document.querySelector('#webpush-subscribe-button').click();
                // subscribe only, button click toggles subscribe/unsubscribe
                subscribe(registration)
            }
        });

        (function () {
            registerFormChange();
        })();

    </script>
{% endblock %}